@charset "utf-8";
body { margin:0; padding:0; width:100%; color:black; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html { padding:0; margin:0;}

@font-face {
            font-family: 'LogoFont';
            src: url('fonts/logofont.eot'); /* IE9 Compat Modes */
            src: url('fonts/logofont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('fonts/logofont.woff2') format('woff2'), /* Super Modern Browsers */
            url('fonts/logofont.woff') format('woff'), /* Pretty Modern Browsers */
            url('fonts/logofont.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('fonts/logofont.svg#svgFontName') format('svg'); /* Legacy iOS */
        }
        .clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

        .header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul { margin:0; padding:0;}
        .header{border-bottom:1px solid #6c94b8; background: #fffbf5;}
        /* header */
        .header_resize { margin:0 auto; padding:0; width:990px; background: #fffbf5;}

        .logo{	font-family:LogoFont; float:left;	font-size:70px;	color:#6C94B8  ;	height:72px;	line-height:72px;	width:230px;	text-align:center;	margin-right:20px;}

        .login{ line-height:72px; position:relative; float:right;width:600px;height:72px; margin-right:30px;}
        .login input{margin-top:30px;font-family: Helvetica;font-size: 16px;padding: 5px;border-radius: 10px;border: 2px solid #E0DCD7;position: relative;}
        .button{ color:white;    font-family: Helvetica;    font-size: 16px;    background: #6C94B8 none repeat scroll 0% 0%;    padding: 10px;    width: 120px;    border-radius: 30px;    position: relative;    text-align: center;    cursor:pointer;}
   


.content_resize { margin:0 auto; padding:0; width:990px;}

.content .mainbar { padding:0; overflow: auto; margin:auto;width:430px; text-align: left; margin-top:50px;}

.content .mainbar  input{font-family: Helvetica;font-size: 16px;padding: 5px;border-radius: 10px;border: 2px solid #E0DCD7;position: relative;width:95%;}
.content .mainbar table{border-radius:10px; border:2px solid #E0DCD7;padding:10px;background:#F2EEE8 ;position:relative;	border-collapse: collapse;margin:auto; }
.content .mainbar .button{ color:white; font-family: Helvetica;    font-size: 16px;    background: #6C94B8 none repeat scroll 0% 0%;    padding: 10px;     border-radius: 30px;    position: relative;    text-align: center;    cursor:pointer;}
.content .mainbar table td{height: 50px; 	text-align:center; 	vertical-align:middle; 	padding:10px; }
 h2{padding-left:10px; }