@charset "utf-8";
body { margin:0; padding:0; width:100%; color:black; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html { padding:0; margin:0;}

.content_resize { margin:0 auto; padding:0; width:990px;}

.content .mainbar { margin:0; padding:0; float:left; width:670px;text-align: left; margin-top:20px;}

.content .mainbar .questions {background: #f2eee8; padding:15px 5px 15px 5px; display: table;width:655px; border:2px solid #e0dcd7; margin:15px 5px 15px 5px;}
.content .mainbar .questions .picture{ height:100%;float:left;position: :relative;}
.content .mainbar .questions .picture img{ height: 50px;width: 50px; border-radius: 150px;border:0;}
.content .mainbar .questions .question {position: :relative;float:left;width:550px;height:100%;padding-top:10px;font-family: Helvetica;padding-left:10px; }
.content .mainbar .questions .question .username { color:#57575f; font-size:15px; font-weight: bold; float:left; }
.content .mainbar .questions .question .datetime { color:#b7b5b4; font-size:12px; float:right; }
.content .mainbar .questions .question .text { color:#605e58; font-size:14px; float:left;text-align: left;clear:both;margin-top:10px; }

.content .mainbar .questions .question .mark { width:100%;clear:both;text-align: right; border-bottom:1px solid #6C94B8;}
.content .mainbar .questions .question .mark img{ margin:5px;width:20px;height:20px;border:3px solid #6C94B8 ; border-radius: 150px; cursor:pointer;}

.content .mainbar .questions .question .response{ color:#605e58; font-size:14px; float:left;text-align: left;clear:both;margin-top:10px;}
.content .mainbar .questions .question .response img{border:0;width:15px;height:15px;padding:0;margin:0 10px 0 0;}
.content .mainbar .questions .question .response .datetime2{border:0;padding:0;float:left;clear:both;}
.content .mainbar .questions .question .response .text{margin:0 0 0 25px;}

.content .sidebar { padding:0; float:right; width:300px; background:#80a8cc; margin-left: 20px;}
.content .sidebar .statuses { margin:10px 5px 10px 5px; padding:5px;text-align: center;position: relative;}
.content .sidebar .statuses img{height: 50px;width: 50px; border-radius: 150px; }
.content .sidebar .statuses .username{color:white;font-size:15px;margin:0;padding:0;}
.content .sidebar .statuses .status{color:white;padding:5px 0px 0px 0px;font-size:15px;}

.content .sidebar h2 {text-align:center;width:100%;	font-weight:normal;color:white;font-size:21px;}
.content .sidebar .statuses h2 {font-weight:bold;font-size:15px;}
