/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
body { margin:0; padding:0; width:100%; color:black; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html { padding:0; margin:0;}

.content_resize { margin:0 auto; padding:0; width:1295px;}

/*proflie*/

.content .sidebar { padding:0; float:left; width:300px; background:#80a8cc; margin-right:7px;}
.content .sidebar .user { margin:5px; padding:5px;text-align: center;position: relative;}
.content .sidebar .user img{height: 100px;width: 100px; border-radius: 150px; vertical-align: middle;margin-top:40px;}
.content .sidebar .user .username{color:white;font-size:18px;}
.content .sidebar .user .about{color:white;font-family:Helvetica;font-size:14px; padding:0 25px;}
.content .sidebar .user .status{color:white;font-style: italic;padding:20px;font-size:15px;}
.content .sidebar .user .button{color:white;font-family:Helvetica;font-size:16px; background: #6c94b8;padding:10px;width:150px;margin:20px auto;border-radius: 30px; }
.content .sidebar .user a{color:white;text-decoration: none; }
.content .sidebar .gallery {margin:10px 0; background: #2e2e2e;display: table;}
.content .sidebar .gallery img{width:100px;height:100px;border-radius: 0;margin:0;padding:0;border:0;float:left;}
.content .sidebar .questions {margin:5px;padding:5px;text-align: left;color:white;font-size:18px;}
.content .sidebar .questions img{margin:0px 5px 0 0;}
.content .sidebar .questions .question {margin:5px;font-size:12px;color:#6c94b8;}
.content .sidebar .questions .response {margin:5px;font-size:13px;font-weight: bold;}

.content .mainbar { margin:0; padding:0; float:left; width:670px;text-align: left; margin-top:20px;}

.buttonB{color:white;font-family:Helvetica;font-size:14px; background: #6c94b8;padding:10px;width:100px;margin:20px auto;border-radius: 30px; }

.content .mainbar .ask{display: table;margin-bottom:30px;}
.content .mainbar .ask textarea { resize:none;width:640px;font-family: Verdana; padding:10px;margin:0 0 10px 10px;height:50px;}
.content .mainbar .ask input { color:white;font-family:Helvetica;font-size:16px; background: #6c94b8;padding:10px;width:150px;border-radius: 30px;border:0;float:right;clear:both; }

.content .mainbar .questions {background: #f2eee8; padding:15px 5px 15px 5px; display: table;width:655px; border:2px solid #e0dcd7; margin:15px 5px 15px 5px;}
.content .mainbar .questions .picture{ height:100%;float:left;position: :relative;}
.content .mainbar .questions .picture img{ height: 50px;width: 50px; border-radius: 150px;border:0;}
.content .mainbar .questions .question {position: :relative;float:left;width:550px;height:100%;padding-top:10px;font-family: Helvetica;padding-left:10px; }
.content .mainbar .questions .question .username { color:#57575f; font-size:15px; font-weight: bold; float:left; }
.content .mainbar .questions .question .datetime { color:#b7b5b4; font-size:12px; float:right; }
.content .mainbar .questions .question .text { color:#605e58; font-size:14px; float:left;text-align: left;clear:both;margin-top:10px; }

.content .mainbar .questions .question .mark { width:100%;clear:both;text-align: right; border-bottom:1px solid #6C94B8;}
.content .mainbar .questions .question .mark img{ margin:5px;width:20px;height:20px;border:3px solid #6C94B8 ; border-radius: 150px; cursor:pointer;}

.content .mainbar .questions .question .response{ color:#605e58; font-size:14px; float:left;text-align: left;clear:both;margin-top:10px;}
.content .mainbar .questions .question .response img{border:0;width:15px;height:15px;padding:0;margin:0 10px 0 0;}
.content .mainbar .questions .question .response .datetime2{border:0;padding:0;float:left;clear:both;}
.content .mainbar .questions .question .response .text{margin:0 0 0 25px;}

/*proflie END*/

/*conversations*/
.content .sidebar .newconversation { margin:5px; padding:5px;text-align: center;position: relative;}
.content .sidebar .newconversation img{height: 100px;width: 100px; border-radius: 150px; vertical-align: middle;margin-top:40px;}

.content .sidebar .newconversation input{color:black;font-family:Helvetica;font-size:16px; padding:5px;width:250px;margin:20px auto;border-radius: 5px;}
.content .sidebar .newconversation .button{color:white;font-family:Helvetica;font-size:16px; background: #6c94b8;padding:10px;width:150px;margin:20px auto;border-radius: 30px; }
.content .sidebar .newconversation a{color:white;text-decoration: none; }

/*conversations END*/


.content .sidebarRight { padding:0; float:right; width:300px; background:#80a8cc; margin-left: 0px;min-height:490px;}
.content .sidebarRight .statuses { margin:10px 5px 10px 5px; padding:5px;text-align: center;position: relative;}
.content .sidebarRight .statuses .username{color:white;font-size:15px;margin:0;padding:0;}
.content .sidebarRight .statuses .status{color:white;padding:5px 0px 0px 0px;font-size:15px;font-style:italic;}

.content .sidebarRight h2 {text-align:center;width:100%;	font-weight:normal;color:white;font-size:21px;}
.content .sidebarRight .statuses h2 {font-weight:bold;font-size:15px;}
